
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

$white: #FFFFFF;
$bg-grey: #252230;
$window_grey: #1E1E1E;
$hr_grey: #8F8F8F;
$main-purple: #7203FF;
$green: #2fa71a;
$bright_purple: #a561fd;

@font-face {
    font-family: "Days One";
    src: url("../public/days-one/DaysOne-Regular.ttf") format('truetype');
}


* {
    margin: 0;
    padding: 0;
    font-family: "Days One", sans-serif;
    font-weight: 500;
    color: $white;
}

body {
    background: $bg-grey;
}


#navbar {
    display: flex;
    justify-content: space-between;
    .momentum_title {
        font-size: 30px;
        margin: 5px 0 0 20px;
    }

}


hr {
    color: $hr_grey;
}

button {
    /* Variables */
    color: #7203FF;
    width: 20px;
    height: 20px;
  }

#data {
    width: calc(100vw - 40px);
    height: calc(85vh - 40px);
    margin: 20px;
    display: grid;
    grid-template-columns: 0.7fr 0.5fr 1.5fr 0.8fr;
    grid-template-rows: 1.4fr 1fr 0.5fr;
    gap: 20px;

    #admin-panel {
        background: $window_grey;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        #pressure {
            margin-left: auto;
        }
        #gps {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: #d3ff00;
            position: relative;
            transition: transform 0.5s ease;
        }
        #mapa {
            width: 287px;
            
        }
        #date {
            display: flex;
            justify-content: space-between;

            #datum ,#čas {
                margin: 10px 10px 0 10px;
                font-size: 13px;
                color: hsl(0, 0%, 70%);
            }
        }
        #tb_row_down {
            height: 40px;
        }
         
        .gps {
            font-size: 11px;
            padding-left: 10px;
        }
            
        .red-error::after, .red-error::before {
            color: red !important;
            background: red !important;
        }
        
        .connected {
            padding: 20px 0 15px 0;
            
            &::after {
                content: ".";
                color: green;
                width: 3px;
                height: 100%;
                background: green;
                position: relative; /* Position the pseudo-element absolutely */
                top: 0; /* Position it at the top */
                right: -10px;
            }
            &::before {
                content: ".";
                color: green;
                width: 3px;
                height: 100%;
                background: green;
                position: relative; /* Position the pseudo-element absolutely */
                top: 0; /* Position it at the top */
                right: 10px;
            }
        }
        .stav {

            &::after {
                content: ".";
                color: green;
                width: 3px;
                height: 100%;
                background: green;
                position: relative; /* Position the pseudo-element absolutely */
                top: 0; /* Position it at the top */
                right: -10px;
            }
            &::before {
                content: ".";
                color: green;
                width: 3px;
                height: 100%;
                background: green;
                position: relative; /* Position the pseudo-element absolutely */
                top: 0; /* Position it at the top */
                right: 10px;
            }
        }
        #time {
            padding-bottom: 50px;
            font-size: 25px;
        }
        #pressure-setting {
            margin-bottom: 15px;
        }
        
        
    }
    #press-chart {
        background: $window_grey;
        grid-column: 2/4;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        #press-title {
            font-size: 20px;
        }
        hr {
            width: 50%;
        }
    }
    #rocket-model {
        background: $window_grey;
        grid-row: 1/3;
        grid-column: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        #name-model-rakety {
            font-size: 20px;
        }
        hr {
            width: 200px;
        }
        #rocket-model-close {
            height: 90%;
        }

        #main_compass {
            width: 78px;
            height: 78px;
            align-self: baseline;
            background-color: #555;
            border-top-right-radius: 50%;

            #compass {
                width: 78px;
            }
            #arrow {
                width: 78px;
                position: relative;
                bottom: 82px;
                transition: transform 0.5s ease;
            }
        }
    }
    #xyz {
        background: $window_grey;
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .underline {
            border-bottom: 2px solid $hr_grey;
        }

        #left_xyz {
            display: flex;
            margin: 30px;

            #akcelerace {
                display: flex;
                flex-direction: column;
                align-items: center;

                #smol {
                    font-size: 12px;
                    color: $hr_grey;
                }
            }

            #gyroskop {
                margin-left: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        #right_xyz {
            display: flex;
            margin: 20px;

            #lineární_akcelerace {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: -30px;
            }

            #magnetometr {
                margin-left: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        
    }
    #main-data {
        background: $window_grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        line-height: 25px;
        
        #data-get {
            margin: 15px;

            .heading {
                display: flex;
                justify-content: space-between;
                font-size: 22px;
                border-bottom: 2px solid $hr_grey;
                margin-bottom: 15px;

                .temp {
                    margin-right: 90px;
                }
            }
            .no_border {
                border: none !important;
            }

            tr, td {
                border-bottom: 2px solid $hr_grey;
                min-width: 150px
            }

            .nums {
                min-width: 150px;
            }

            #bottom_data {
                display: flex;

                #right_side_height_chart {
                    margin-left: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    #height2 {
                        font-size: 15px;
                    }
                    #height_num {
                        font-size: 25px;
                    }
                    #proc-odh2 {
                        font-size: 12px;
                        color: #555;
                    }
                    .indicator {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        margin: 0 auto;
                        font-size: 17px;
                        font-weight: 100;
                        color: #555;
                        user-select: none;
                    }
                }
            }
        }
    }
    #footer {
        grid-column: 1/5;
        grid-row: 3;
        
        display: flex;
        justify-content: space-between;
        
        #const {
            margin-top: 30px;

            .construcked {
                font-family: 'GFS Didot', Courier, monospace;
                font-size: 13px;
            } 
        }
        #images {
            display: flex;
            gap: 10px;
            margin-right: 20px;
            
            #between-bar {
                width: 3px;
                height: 78px;
                background: $hr_grey;
            }
            img {
                width: 78px;
            }
        }
        
    }
}

